body {
    font-family: Open Sans;
    background-color: white;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    height: 100px;
}

#quiz-container {
    text-align: center;
    margin-top: 100px;
}

#paragraph {
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

ul li {
    padding: 10px 20px;
    margin: 10px auto;
    transition: .5s;
    width: 30%;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 20px;
    border-radius: 25px;
}
.float-left {
    display: flex;
    justify-content: left;
    align-items: baseline;
    cursor: pointer;
}

ul li:nth-child(1) {
    background-color: whitesmoke;
}

ul li:nth-child(2) {
    background-color: whitesmoke;
}

ul li:nth-child(3) {
    background-color: whitesmoke;
}
ul li:nth-child(4) {
    background-color: whitesmoke;
}

ul li:hover {
    background-color: #f89b9b;
}

#start {
    background-color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    letter-spacing: 2px;
    color: black;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid;
    border-color: #df3e56;
}

#start:hover {
    color: white;
    background-color: #df3e56;
}

#next {
    display: none;
    margin-top: 50px;
    margin-left: 320px;
    border: 2px solid hsl(205, 30%, 92%);
    font-size: 30px;
    letter-spacing: 0.1rem;
    width: 120px;
    height: 50px;
    background-color: white;
    color: black;
    font-family: 'Fugaz One', cursive;
    border-radius: 10px;
    max-width: 100%;
}

#next:hover {
    background-color: #df3e56;
    color: white;
    cursor: pointer;
}

.timer {
    float: left;
    position: absolute;
    top: 20px;
    left: 10px;
    margin: 150px 60px 0 0;
    display: none;
    padding: 10px;

    min-height: 2.2rem;
    min-width: 8rem;
    background-color: white;
    box-shadow: inset -3px -3px 8px #ffffff70, inset 3px 3px 15px #00000070;
    border-radius: 1.5rem;
    text-align: center;

    align-items: center;
    font-size: 1.5rem;
}
.neu {
    float: right;
    position: absolute;
    top: 20px;
    right: 10px;
    margin: 150px 60px 0 0;
    display: none;
    padding: 10px;

    min-height: 2.2rem;
    min-width: 8rem;
    background-color: white;
    box-shadow: inset -3px -3px 8px #ffffff70, inset 3px 3px 15px #00000070;
    border-radius: 1.5rem;
    text-align: center;

    align-items: center;
    font-size: 1.5rem;
    max-width: 100%;
}

.hide {
    /* /* display: none;  */
}
.hide h1 {
    margin-top: 500px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 2px;
}

/* #reset {
    display: none;
} */

.change-color {
    background-color: green;
}

.answer-container {
    /* position: relative; */
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    /* padding: 0 25px 40px 10px; */
    background-color: white;
    /* border: 4px solid #b0e0e6; */
    /* border-radius: 25px; */
    color: black;
    /* font-weight: bold; */
    /* box-shadow: 5px 5px 5px #888; */

    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
    /* position: relative; */
    position: absolute;
    display: none;
    width: 50%;
    height: 60%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.reset-container {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;

    background-color: white;

    color: black;

    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
    /* position: relative; */
    position: absolute;
    display: none;
    width: 50%;
    height: 60%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

#show-answer {
    margin-top: 100px;
    font-family: 'El Messiri', sans-serif;
    /* font-weight: ; */
    font-size: 40px;
    letter-spacing: 1px;
    color: #20393e;
}

header {
    background-color: #df3e56;
    color: whitesmoke;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
}

header h1 {
    font-family: 'Bungee Inline', cursive;
    letter-spacing: 0.5rem;
}

section h2 {
    /* border: 1px solid black; */
    margin-top: 2px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 3rem;
}

#paragraph {
    font-family: 'Markazi Text', serif;
    font-size: 2rem;
}

a {
    text-decoration: none;
    /* font-size: large; */
    /* border: 2px solid black; */
    color: black;
}

#reset {
    margin-top: 20px;
    border: 2px solid gray;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 180px;
    padding: 10px 5px;
}

#reset:hover {
    background-color: #f8a41d;
    color: white;
    cursor: pointer;
}

a:hover {
    color: white;
}

#button {
    margin-top: 100px;
}
#button a:hover {
    color: #fa4542;
}

.score-change {
    animation-name: scale-up;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}
@keyframes scale-up {
    0% {
        -webkit-transform: scale(.2);
        transform: scale(.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
